@font-face {
    font-family: 'corpoademregular';
    src: url('c062004t.woff2') format('woff2'), url('c062004t.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'corporate_sdemi';
    src: url('corporates-demi-webfont.woff2') format('woff2'), url('corporates-demi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'corporate_sregular';
    src: url('corporates-regular-webfont.woff2') format('woff2'), url('corporates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#lp-coringa-gla-467bdb8c5c615c02500e #form-lp-coringa-gla-467bdb8c5c615c02500e #form-container-lp-coringa-gla-467bdb8c5c615c02500e #conversion-lp-coringa-gla-467bdb8c5c615c02500e header,
#lp-coringa-glc-cc9317a52f74e799d6bb #form-lp-coringa-glc-cc9317a52f74e799d6bb #form-container-lp-coringa-glc-cc9317a52f74e799d6bb #conversion-lp-coringa-glc-cc9317a52f74e799d6bb header,
#lp-coringa-gla-a60a840881d1a45841d3 #form-lp-coringa-gla-a60a840881d1a45841d3 #form-container-lp-coringa-gla-a60a840881d1a45841d3 #conversion-lp-coringa-gla-a60a840881d1a45841d3 header,
#clase-c-c4982e2a6e2bae622b1a #form-clase-c-c4982e2a6e2bae622b1a #form-container-clase-c-c4982e2a6e2bae622b1a #conversion-clase-c-c4982e2a6e2bae622b1a header {
    background-color: transparent!important;
}

#form-container-lp-coringa-gla-467bdb8c5c615c02500e #conversion-lp-coringa-gla-467bdb8c5c615c02500e header h1,
#form-container-lp-coringa-glc-cc9317a52f74e799d6bb #conversion-lp-coringa-glc-cc9317a52f74e799d6bb header h1,
#form-container-lp-coringa-gla-a60a840881d1a45841d3 #conversion-lp-coringa-gla-a60a840881d1a45841d3 header h1,
#form-container-clase-c-c4982e2a6e2bae622b1a #conversion-clase-c-c4982e2a6e2bae622b1a header h1 {
    font-family: 'corporate_sdemi'!important;
}

#lp-coringa-gla-467bdb8c5c615c02500e #form-lp-coringa-gla-467bdb8c5c615c02500e #form-container-lp-coringa-gla-467bdb8c5c615c02500e #conversion-lp-coringa-gla-467bdb8c5c615c02500e header h2,
#lp-coringa-glc-cc9317a52f74e799d6bb #form-lp-coringa-glc-cc9317a52f74e799d6bb #form-container-lp-coringa-glc-cc9317a52f74e799d6bb #conversion-lp-coringa-glc-cc9317a52f74e799d6bb header h2,
#lp-coringa-gla-a60a840881d1a45841d3 #form-lp-coringa-gla-a60a840881d1a45841d3 #form-container-lp-coringa-gla-a60a840881d1a45841d3 #conversion-lp-coringa-gla-a60a840881d1a45841d3 header h2,
#clase-c-c4982e2a6e2bae622b1a #form-clase-c-c4982e2a6e2bae622b1a #form-container-clase-c-c4982e2a6e2bae622b1a #conversion-clase-c-c4982e2a6e2bae622b1a header h2 {
    line-height: 28px!important;
}

#lp-coringa-gla-467bdb8c5c615c02500e #form-lp-coringa-gla-467bdb8c5c615c02500e #form-container-lp-coringa-gla-467bdb8c5c615c02500e #conversion-lp-coringa-gla-467bdb8c5c615c02500e,
#lp-coringa-glc-cc9317a52f74e799d6bb #form-lp-coringa-glc-cc9317a52f74e799d6bb #form-container-lp-coringa-glc-cc9317a52f74e799d6bb #conversion-lp-coringa-glc-cc9317a52f74e799d6bb,
#lp-coringa-gla-a60a840881d1a45841d3 #form-lp-coringa-gla-a60a840881d1a45841d3 #form-container-lp-coringa-gla-a60a840881d1a45841d3 #conversion-lp-coringa-gla-a60a840881d1a45841d3,
#clase-c-c4982e2a6e2bae622b1a #form-clase-c-c4982e2a6e2bae622b1a #form-container-clase-c-c4982e2a6e2bae622b1a #conversion-clase-c-c4982e2a6e2bae622b1a {
    background-color: rgba(0, 0, 0, 0.75)!important;
    padding: 15px!important;
}

#lp-coringa-gla-467bdb8c5c615c02500e #form-lp-coringa-gla-467bdb8c5c615c02500e #form-container-lp-coringa-gla-467bdb8c5c615c02500e #conversion-lp-coringa-gla-467bdb8c5c615c02500e .field,
#lp-coringa-glc-cc9317a52f74e799d6bb #form-lp-coringa-glc-cc9317a52f74e799d6bb #form-container-lp-coringa-glc-cc9317a52f74e799d6bb #conversion-lp-coringa-glc-cc9317a52f74e799d6bb .field,
#lp-coringa-gla-a60a840881d1a45841d3 #form-lp-coringa-gla-a60a840881d1a45841d3 #form-container-lp-coringa-gla-a60a840881d1a45841d3 #conversion-lp-coringa-gla-a60a840881d1a45841d3 .field,
#clase-c-c4982e2a6e2bae622b1a #form-clase-c-c4982e2a6e2bae622b1a #form-container-clase-c-c4982e2a6e2bae622b1a #conversion-clase-c-c4982e2a6e2bae622b1a .field {
    margin-bottom: 10px!important;
}

#lp-coringa-gla-467bdb8c5c615c02500e #form-lp-coringa-gla-467bdb8c5c615c02500e #form-container-lp-coringa-gla-467bdb8c5c615c02500e #conversion-lp-coringa-gla-467bdb8c5c615c02500e .field label,
#lp-coringa-glc-cc9317a52f74e799d6bb #form-lp-coringa-glc-cc9317a52f74e799d6bb #form-container-lp-coringa-glc-cc9317a52f74e799d6bb #conversion-lp-coringa-glc-cc9317a52f74e799d6bb .field label,
#lp-coringa-gla-a60a840881d1a45841d3 #form-lp-coringa-gla-a60a840881d1a45841d3 #form-container-lp-coringa-gla-a60a840881d1a45841d3 #conversion-lp-coringa-gla-a60a840881d1a45841d3 .field label,
#clase-c-c4982e2a6e2bae622b1a #form-clase-c-c4982e2a6e2bae622b1a #form-container-clase-c-c4982e2a6e2bae622b1a #conversion-clase-c-c4982e2a6e2bae622b1a .field label {
    font-family: 'corporate_sdemi'!important;
}

.font-corporate_sregular {
    font-family: 'corporate_sregular';
}

.font-corpoademregular {
    font-family: 'corpoademregular';
}

.b-700 {
    font-weight: 700;
}

.bg-black {
    background: #000;
}

.paral {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* height: 70vh; */
}

.classe-c {
    background-image: url(img/classe-c/parallax.jpg);
}

.gla {
    background-image: url(img/gla/parallax.jpg);
}

.glc {
    background-image: url(img/glc/parallax.jpg);
}

.gle {
    background-image: url(img/gle/parallax.jpg);
}

.banner {
    background-size: cover;
    height: 100vh;
}

.h-classe-c {
    background-image: url(img/classe-c/home-classe-c.jpg);
}

.h-gla {
    background-image: url(img/gla/home-gla.jpg);
}

.h-glc {
    background-image: url(img/glc/home.jpg);
}

.h-gle {
    background-image: url(img/gle/home.jpg);
}

.counter_feature {
    padding: 120px 0;
}

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.view .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.rgba-green-strong,
.rgba-green-strong:after {
    background-color: rgba(76, 175, 80, .7);
}

.text-shadow {
    text-shadow: 2px 1px 2px rgba(255, 255, 255, .8);
}


/* Form*/

#conversion-clase-c-c4982e2a6e2bae622b1a,
#conversion-lp-coringa-gla-a60a840881d1a45841d3,
#conversion-lp-coringa-gla-467bdb8c5c615c02500e,
#conversion-lp-coringa-glc-cc9317a52f74e799d6bb {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

#conversion-clase-c-c4982e2a6e2bae622b1a header,
#conversion-lp-coringa-gla-a60a840881d1a45841d3 header,
#conversion-lp-coringa-gla-467bdb8c5c615c02500e header,
#conversion-lp-coringa-glc-cc9317a52f74e799d6bb header {
    background-color: rgba(0, 0, 0, .3) !important;
}

#form-container-clase-c-c4982e2a6e2bae622b1a #conversion-clase-c-c4982e2a6e2bae622b1a section,
#form-container-lp-coringa-gla-a60a840881d1a45841d3 #conversion-lp-coringa-gla-a60a840881d1a45841d3 section,
#form-container-lp-coringa-gla-467bdb8c5c615c02500e #conversion-lp-coringa-gla-467bdb8c5c615c02500e section,
#form-container-lp-coringa-glc-cc9317a52f74e799d6bb #conversion-lp-coringa-glc-cc9317a52f74e799d6bb section {
    padding: 40px!important;
}


/** Mobile*/

@media(max-width: 450px) {
    #text-parallax {
        font-size: 2rem !important;
    }
    #title {
        color: #fff;
    }
    .text-shadow {
        text-shadow: 0px 0px 0px rgba(255, 255, 255, .8);
    }
    #title-GLE {
        font-size: 2rem !important;
    }
    #title-GLE-1 {
        font-size: 2.3rem !important;
    }
}


/* Tablet 768px */

@media(max-width: 768px) {
    #title {
        color: #fff;
    }
    .text-shadow {
        text-shadow: 0px 0px 0px rgba(255, 255, 255, .8);
    }
    #title-GLE-1 {
        font-size: 3rem !important;
    }
}


/* IPad2 1024px */

@media(max-width: 1024px) {
    #text-parallax {
        font-size: 3rem;
    }
    #title {
        color: #fff;
    }
    .text-shadow {
        text-shadow: 0px 0px 0px rgba(255, 255, 255, .8);
    }
}